.label {
    position: relative;
}

.label:hover {
    cursor: pointer;
    color: #d7d6d6;
}

.video {
    width: 209px;
}

.contact {
    width: 150px;
    margin-left: -8vw;
}

.echo {
    position: absolute;
    color: #182c47;
    font-size: 50px;
    z-index: -1;
    bottom: 0;
}

.videoEcho {
    right: 75px;
}

.contactEcho {
    right: -62px;
}

@media only screen and (max-width: 991px) {
    .contact {
        margin-left: 0;
    }
}